<h1>Match summary for {{match_id}}</h1>
<h2>Players</h2>
<ul>
	{{#players}}
	<li><a>{{index}}: {{name}}</a></li>
	{{/players}}
<h2>Chat</h2>
<ul>
	{{#chatlog}}
	<li><a>{{playerName}}: {{text}}</a></li>
	{{/chatlog}}
</ul>
